/* #whole{
    background-image: url("https://www.ppt-backgrounds.net/thumbs/metal-sky-blue-presentation.jpeg");
    height:800px;
} */
#header{
    width:100%;
    height:60px;
    position: fixed;
    background-color: rgb(66, 97, 254);
}
#header>h3{
    color:white;
    text-align: left;
    margin-left: 30px;
}
#container{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    height:300px;
    display: flex;
    margin-top: 10%;
}
#studentsCard{
    width:30%;
    height:100%;
    background-color: rgb(102, 200, 249);
    margin-right: 5%;
    border-radius: 5px;
    transition: transform .5s;
}
#eventsCard{
    width:30%;
    height:100%;
    background-color: rgb(251, 199, 207);
    margin-right: 5%;
    border-radius: 5px;
    transition: transform .5s;
}
#pieChart{
    width:30%;
    height:100%;
    background-color: rgb(130, 241, 130);
    border-radius: 5px;
    transition: transform .5s;
}
#bold{
    margin-top: 30%;
    color:rgb(58, 57, 57);
}

#pieChart:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#studentsCard:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#eventsCard:hover{
    transform: scale(1.1);
  
    cursor: pointer;
}
