#loginBox{
    display: block;
    border:1px solid black;
    width:47%;
    height:100%;
    text-align: center;
    /* background-color:rgba(0, 90, 128, 0.788) ; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#loginInput{
    width:80%;
    height:10%;
}