#bigContainer{
  display: flex;
  width:100%;
}
#firstContainer{
  width:70%;
}

#studentsTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  #studentsTable td, #studentsTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #studentsTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #studentsTable tr:hover {background-color: #ddd;}
  
  #studentsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0446aa;
    color: white;
  }
  #secondContainer{
      width:30%;
  }
  #studentButton{
    width:35%;
    height:30px;
    border-radius: 5px;
    background-color: #c5c7f3;
    font-size: 15px;
    border:none;
    margin-bottom: 5px;
  }
  